//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 03 16:06:06 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P43" LEVEL 1;
COMP "DOT" LOCATE = SITE "P73" LEVEL 1;
COMP "USR_BTN" LOCATE = SITE "P41" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P85" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P59" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P60" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P62" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P52" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P13" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "P68" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "P97" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P19" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "P82" LEVEL 1;
COMP "A_TO_G<0>" LOCATE = SITE "P72" LEVEL 1;
COMP "A_TO_G<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "A_TO_G<2>" LOCATE = SITE "P70" LEVEL 1;
COMP "A_TO_G<3>" LOCATE = SITE "P65" LEVEL 1;
COMP "A_TO_G<4>" LOCATE = SITE "P77" LEVEL 1;
COMP "A_TO_G<5>" LOCATE = SITE "P78" LEVEL 1;
COMP "A_TO_G<6>" LOCATE = SITE "P83" LEVEL 1;
COMP "PMOD<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "PMOD<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "PMOD<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "PMOD<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "PMOD<4>" LOCATE = SITE "P94" LEVEL 1;
COMP "PMOD<5>" LOCATE = SITE "P93" LEVEL 1;
COMP "PMOD<6>" LOCATE = SITE "P90" LEVEL 1;
COMP "PMOD<7>" LOCATE = SITE "P89" LEVEL 1;
COMP "EXT_CLK" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP CLK = BEL "clockgen/q_1" BEL "clockgen/q_2" BEL "clockgen/q_3" BEL
        "clockgen/q_4" BEL "clockgen/q_5" BEL "clockgen/q_6" BEL
        "clockgen/q_7" BEL "clockgen/q_8" BEL "clockgen/q_9" BEL
        "clockgen/q_10" BEL "clockgen/q_11" BEL "clockgen/q_12" BEL
        "CLK_BUFGP/BUFG.GCLKMUX" BEL "CLK_BUFGP/BUFG";
TS_CLK = PERIOD TIMEGRP "CLK" 20 ns HIGH 50%;
SCHEMATIC END;

